[submodule "bitbake"]
	path = bitbake
	url = https://git.openembedded.org/bitbake.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
