[Match]
Name=wlan0

[Network]
Address=192.168.88.1/24
DHCPServer=yes
LinkLocalAddressing=no
RequiredForOnline=no

[DHCPServer]
PoolOffset=10
PoolSize=50
EmitDNS=yes
DNS=192.168.88.1
