[Unit]
Description=VantageOS Router NAT Setup
After=systemd-networkd.service vantageos-hostapd.service
Wants=systemd-networkd.service vantageos-hostapd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/vantageos-routing-setup

[Install]
WantedBy=multi-user.target
